.card {
  &__image-wrapper {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  &__image {
    width: 100%;
    transition: transform $translition-duration;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__name {
    color: $grey;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 2%;
    font-weight: 500;
  }

  &__paragraph {
    letter-spacing: -1%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 16px;
  }
}
