.menu {
  &__nav {
    align-items: center;
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
  }

  &__button-close {
    color: #f9512e;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: $black;
    transition: background-color $translition-duration;
    transition: transform $translition-duration;
    -webkit-mask: url(../images/close.svg) no-repeat center / contain;
    mask: url(../images/close.svg) no-repeat center / contain;

    &:hover {
      transform: scale(1.2);
      background-color: $accent-orange;
    }
  }
}
