h1 {
  @extend %h1;

  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;

  @include on-tablet {
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  @include on-desktop-1024 {
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}

h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 85%;

  letter-spacing: -0.05em;
  text-transform: uppercase;

  @include on-tablet {
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  @include on-desktop-1024 {
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 85%;

    letter-spacing: -0.05em;
    text-transform: uppercase;
  }
}
