@import 'utils';
@import 'fonts';
@import 'typography';
@import 'utils/normalize';
@import 'blocks/page';
@import 'blocks/menu';
@import 'blocks/buttons';
@import 'blocks/nav';
@import 'blocks/header';
@import 'blocks/top-bar';
@import 'blocks/hero';
@import 'blocks/product';
@import 'blocks/card';
@import 'blocks/about-us';
@import 'blocks/footer';

body {
  background: $light-pink;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
